.brightness {
    width: 80%;
    background-color: white;
    display: grid;
    grid-template-columns: 20% auto
}

body {
    font-family: sans-serif
}

.fa-toggle-on {
    color: teal;
}

p {
    font-size: 16px;
}

span {
    font-size: 10px;
}

.fab .fas {
    margin: auto;
}

.auto_brightness {
    display: grid;
    grid-template-columns: auto auto;
}

.auto_brightness p {
    margin: auto;
}