a {
    text-decoration: none;
    color: black;
}

.settings_container {
    font-family: sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    list-style: none;
}

body {
    font-family: sans-serif;
}

.fa-wifi {
    color: teal;
}

.fa-map-marker-alt {
    color: teal;
}

.settings_container a {
    display: grid;
    grid-template-columns: 25% auto;
}

ul {
    padding: 5px;
}

.settings {
    display: grid;
    grid-template-columns: 80% auto;
}

.fas,
.fab {
    margin: auto;
}

.settings>div {
    margin: auto;
}