.network_list {
    display: grid;
    grid-template-columns: auto;
    font-family: sans-serif;
    grid-row-gap: 20px;
    margin: 20px;
}

.network_list>div {
    border-bottom: solid 0.5px #f1ebeb;
    display: grid;
    grid-template-columns: auto auto;
}

body {
    font-family: sans-serif
}

.wifi_button {
    float: right;
    color: teal;
}

input {
    width: 80%;
    height: 30px;
}